*{
	margin: 0;
	padding: 0;
}

body{
	background: #eee;
	width: 100%;
	height: 100%;
}

.content{
	max-width: 900px;
	padding-left: 2em;
	padding-right: 2em;
	margin: 0 auto 50px;
}

.builder-section{
	background: #1b98f8;
	border: dashed 5px #777;
	border-radius: 15px;
	width: 280px;
	height: 280px;
	float: left;
	margin: 5px;
}

/*DnD*/
.builder-section.over {
  border: 5px dashed #fff;
}

@media(max-width: 965px){
	.content{
		max-width: 600px;
		padding-left: 2em;
		padding-right: 2em;
		margin: 0 auto 50px;
	}

	.builder-section{
		background: #1b98f8;
		border: dashed 5px #777;
		border-radius: 15px;
		width: 180px;
		height: 180px;
		float: left;
		margin: 5px;
	}
}


/**
 *
 */
.columns{
	max-width: 900px;
	padding-left: 2em;
	padding-right: 2em;
	margin: 0 auto 50px;
}
.column{
	background-color: #ccc;
	border: 2px solid #666666;
	border-radius: 10px;
	box-shadow: 0 0 3px #000 inset;
	cursor: move;
	/*float: left;*/
	height: 150px;
	margin-bottom: 30px;
	margin-right: 5px;
	text-align: center;
	width: 150px;
}

/**/

[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	/* Required to make elements draggable in old WebKit */
	-khtml-user-drag: element;
	-webkit-user-drag: element;
}