table{
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
	border-spacing: 0;
	border-collapse: collapse;
	border-spacing: 2px;
	border-color: gray;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

tr:nth-child(even){
	background: #fafafa;
}

tbody>tr:hover {
  background-color: #f5f5f5;
}

td{
	display: table-cell;
}

table > caption + thead > tr:first-child > td,
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > td,
table > thead:first-child > tr:first-child > th {
    border-top: 0 none;
}

table > thead > tr > th {
    border-bottom: 2px solid #ddd;
    vertical-align: bottom;
}

table > tbody > tr > td,
table > tbody > tr > th,
table > tfoot > tr > td,
table > tfoot > tr > th,
table > thead > tr > td,
table > thead > tr > th {
    border-top: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}