.custom-menu-top{
    padding-top: 0!important;
    padding-bottom: 0!important;
}

#menu {
	height: 7%;
	background-color: #778899;
}
nav {
	margin-left: 16%;
}
ul {
	list-style: none;
}
li {
	text-align: center;
	padding: 3px;
	width: 10%;
	display: inline-block;
}
li:hover {
	background-color: #696969;
}
a {
	text-decoration: none;
	color: black;
}

#menu .active{
	background: #1f8dd6;
}
#menu .pinnackl-menu li.active a:hover, #menu .pinnackl-menu li.active a:focus{
	background: none;
}

#menu .active a{
	color: #ffffff;
}

.pinnackl-menu-children{
	display: block;
}

a:hover{
	color: #2ea2cc;
}