.pinnackl-form input[type="checkbox"]{
	display: inline-block;
	margin-right: 10px !important;
	top: 1px;
	margin-left: 10px;
}

label{
	display: inline-block;
}

select{
	border-radius: 0 4px 0 0 !important;
}

h2{
	color: #ccc;
    font-weight: 300;
    margin-top: 0;
    padding-top: 20px;
    text-align: center;
}

img{
	height: 25px;
    margin-left: 10px;
    position: relative;
    top: 10px;
    width: 25px;
}
.pinnackl-form input[type="text"]{
	display: block;
}

.pinnackl-form fieldset{
	padding: 0.35em 0 0;
}

select:required:invalid { color: gray; }  
option[value=""][disabled] { display: none; }  
option { color: black; }

.container-button input{
	display: inline-block !important;
}