.pinnackl-form input[type="checkbox"]{
	display: inline-block;
	margin-right: 10px !important;
	top: 1px;
	margin-left: 10px;
}

label{
	display: inline-block;
}

select{
	border-radius: 0 4px 0 0 !important;
}

h2{
	color: #ccc;
    font-weight: 300;
    margin-top: 0;
    padding-top: 20px;
    text-align: center;
}

img{
	height: 25px;
    margin-left: 10px;
    position: relative;
    top: 10px;
    width: 25px;
}
.pinnackl-form input[type="text"]{
	/*display: block;*/
}

.pinnackl-form fieldset{
	padding: 0.35em 0 0;
}

.pinnackl-form label {
    margin: 0.5em 0 0.2em;
    min-width: 85px;
}

select:required:invalid { color: gray; }  
option[value=""][disabled] { display: none; }  
option { color: black; }

.container-button input{
	display: inline-block !important;
}


.pinnackl-form .pinnackl-group input:first-child:last-child, .pinnackl-form .pinnackl-group textarea:first-child:last-child {
    border-radius: 4px;
    margin: 0;
    top: 6px;
}

.auto-width{
    width: auto!important;
}
/**/

.pinnackl-form select{
	height : 35px!important;
}

/* multiselect */

.multiselect{
    height:8.5em;
    border:solid thin #c0c0c0;
    padding-left: 1px;
    margin-bottom: 1em;
    border-radius: 4px;
    overflow:auto;
    box-shadow: 0 1px 3px #ddd inset;
    background: #f5f5f5;
    resize: vertical;
    overflow: auto;
    min-width: 50px; /*suggest a min-width & min-height*/
    min-height: 50px;
}
 
.multiselect label{
    display:block;
    margin: 0;
    border-bottom: solid thin #fff;
}
.multiselect label:last-child{
    border: none;
}
.multiselect label:hover{
    background: #eee;
    cursor: pointer;
}

.multiselect input[type="checkbox"]{
	float: none;
	margin: 0;
    border-radius: 4px;
}

.multiselect .page,
.multiselect .post,
.multiselect .category,
.multiselect .footer{
    float: right;
    padding: 0 1em;
    border-radius: 4px 0 0 4px;
    color: #fff;
    font-weight: bold;
    font-style: italic;
}

.multiselect .page{
    background: #4169e1;
}
.multiselect .post{
    background: #800080;
}
.multiselect .category{
    background: #ff4500;
}
.multiselect .footer{
    background: #00bfff;
}

.multiselect-on{
    color:#ffffff;
    background-color: #778899;
    border-bottom: solid 1px #ccc;
}
.multiselect-on:last-child{
    border: none;
}
.multiselect label.multiselect-on:hover{
    background-color: #778899;
}

/*color picker*/
.multiselect .menu-color{
    display:inline;
    display: inline!important;
    margin: 0!important;
    padding: 0!important;
    width: 32px;
    height: 16px;
}

/*wysiwyg*/

.trumbowyg-textarea{
    border: none !important;
    box-shadow: none!important;
}

/*template part*/

.plugins .plugin-header{
    border-bottom:solid thin #333;
    text-align: center;
    color: #fff;
    width:100%;
}

.plugins header.app{
    background:#800080;
}
.plugins header.theme{
    background:#1e8cd6;
}

.plugins .plugin-body{
    padding: 1em 2em;
}