.page-comments{
	background: #fff;
	border-color: #e7eaec;
	border-image: none;
	border-style: solid solid none;
	border-width: 1px 0;
	padding: 3em 2em 5em 2em;
	text-align: justify;
}

.comment img{
	position:relative;
}

.comment-table{
	border-collapse: collapse;
    border-color: gray;
    border-spacing: 2px;
    margin-bottom: 20px;
    max-width: 100%;
    width: 5%;
}

.comment-button{
	margin-top: 5px;
}