.articles{
	text-align: justify;
	background: #fff;
	padding: 1em;
}

.articles a:link,
.articles a:visited,
.articles a:hover,
.articles a:active{
	text-decoration: none;
	color: #000;
}

.articles:hover{
	box-shadow: 0 0 3px 0px #000;
}


.articles .header{
	border-bottom: 1px solid #eee;
	color: #aaa;
	font-size: 80%;
	font-weight: 500;
	letter-spacing: 0.1em;
	padding: 0.4em 0;
	text-transform: uppercase;
}

.auteur {
	margin-bottom: 2em;
}

.auteur img {
	width: 32px;
	float: right;
	margin: 0.1%;
	border: solid 2px #eee;
	border-radius: 50%;
}

.articles .preview{
	text-overflow: ellipsis;
	min-height: 8em;
	max-height: 8em;
    overflow: hidden;
    width: 299px;
}

.articles hr{
	box-shadow: 0 0 10px 0 #aaa;
    float: left;
    margin: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 1px;
    border:none;
    background: #888;
}