#header {
	height: 7%;
	background-color: #778899;
}
nav {
	margin-left: 16%;
}
ul {
	list-style: none;
}
li {
	text-align: center;
	padding: 3px;
	width: 10%;
	display: inline-block;
}
li:hover {
	background-color: #696969;
}
a {
	text-decoration: none;
	color: black;
}